.btn-blue-light{
    --bs-btn-color: black;
    --bs-btn-bg: #edeefd;
    --bs-btn-border-color: #edeefd;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #e4e6fd;
    --bs-btn-hover-border-color: #e4e6fd;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #c7cbfa;
    --bs-btn-active-border-color: #c7cbfa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-blue-light{
    --bs-btn-color: #edeefd;
    --bs-btn-border-color: #edeefd;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #e4e6fd;
    --bs-btn-hover-border-color: #e4e6fd;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #c7cbfa;
    --bs-btn-active-border-color: #c7cbfa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-blue-normal{
    --bs-btn-color: white;
    --bs-btn-bg: #4a57ef;
    --bs-btn-border-color: #4a57ef;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #434ed7;
    --bs-btn-hover-border-color: #434ed7;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #3b46bf;
    --bs-btn-active-border-color: #3b46bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-blue-normal{
    --bs-btn-color: #4a57ef;
    --bs-btn-border-color: #4a57ef;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #434ed7;
    --bs-btn-hover-border-color: #434ed7;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #3b46bf;
    --bs-btn-active-border-color: #3b46bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-blue-dark{
    --bs-btn-color: white;
    --bs-btn-bg: #3841b3;
    --bs-btn-border-color: #3841b3;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #2c348f;
    --bs-btn-hover-border-color: #2c348f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #21276c;
    --bs-btn-active-border-color: #21276c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-blue-dark{
    color: #3841b3;
    --bs-btn-color: #3841b3;
    --bs-btn-border-color: #3841b3;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #2c348f;
    --bs-btn-hover-border-color: #2c348f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #21276c;
    --bs-btn-active-border-color: #21276c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-yellow-light{
    --bs-btn-color: black;
    --bs-btn-bg: #fef9e6;
    --bs-btn-border-color: #fef9e6;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #fdf7d9;
    --bs-btn-hover-border-color: #fdf7d9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #fbeeb0;
    --bs-btn-active-border-color: #fbeeb0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-yellow-light{
    --bs-btn-color: #fef9e6;
    --bs-btn-border-color: #fef9e6;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #fdf7d9;
    --bs-btn-hover-border-color: #fdf7d9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #fbeeb0;
    --bs-btn-active-border-color: #fbeeb0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-yellow-normal{
    --bs-btn-color: black;
    --bs-btn-bg: #f3c700;
    --bs-btn-border-color: #f3c700;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #dbb300;
    --bs-btn-hover-border-color: #dbb300;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #c29f00;
    --bs-btn-active-border-color: #c29f00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-yellow-normal{
    --bs-btn-color: #f3c700;
    --bs-btn-border-color: #f3c700;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #dbb300;
    --bs-btn-hover-border-color: #dbb300;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #c29f00;
    --bs-btn-active-border-color: #c29f00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-yellow-dark{
    --bs-btn-color: white;
    --bs-btn-bg: #b69500;
    --bs-btn-border-color: #b69500;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #927700;
    --bs-btn-hover-border-color: #927700;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #6d5a00;
    --bs-btn-active-border-color: #6d5a00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-yellow-dark{
    --bs-btn-color: #b69500;
    --bs-btn-border-color: #b69500;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #927700;
    --bs-btn-hover-border-color: #927700;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #6d5a00;
    --bs-btn-active-border-color: #6d5a00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-red-normal{
    --bs-btn-color: white;
    --bs-btn-bg: #B33838;
    --bs-btn-border-color: #B33838;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #A13232;
    --bs-btn-hover-border-color: #A13232;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #8F2D2D;
    --bs-btn-active-border-color: #8F2D2D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-green-normal{
    --bs-btn-color: white;
    --bs-btn-bg: #39BF46;
    --bs-btn-border-color: #39BF46;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #33AC3F;
    --bs-btn-hover-border-color: #33AC3F;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #2E9938;
    --bs-btn-active-border-color: #2E9938;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}